{% load static %}
<!-- Preloader -->
<!-- Preloader -->
<link rel="stylesheet" href="/static/style.css"
<div id="preloader">
    <div class="preload-content">
        <div id="dento-load"></div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">

    <!-- Main Header Start -->
    <div class="main-header-area bg-primary">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dentoNav">

                    <!-- Logo -->
                    <a class="nav-brand text-white" href="">Online Assignment Submission
                    </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">


                            <ul id="nav">

                                <li><a href="/">Home</a></li>
                                <li><a href="/">Register</a></li>
                                <li><a href="login">login</a></li>

                                
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>

                    <!-- Booking Now Button -->


                </nav>
            </div>
        </div>
    </div>
</header>
